/input_videos
trackers/__pycache__
trackers/__pycache__
trackers/__pycache__
utils/__pycache__
utils/__pycache__
output_videos/output_video3.avi
output_videos/output_video4.avi
utils/__pycache__
utils/__pycache__
constants/__pycache__
court_line_detection/__pycache__
mini_court/__pycache__
mini_court/__pycache__
models
yolov8x.pt
output_videos/output_video.avi
output_videos/output_video2.avi
runs/detect/predict/image.png
runs/detect/predict2/image.png
runs/detect/predict3/input_video.avi
runs/detect/predict4/input_video.avi
runs/detect/track/input_video.avi
utils/__pycache__
